extends layout

block content
  h1=title

  form(method='POST' action='' enctype="multipart/form-data")
    div.form-group
      label(for='problem') Problem:
      select#problem.form-control(type='select', placeholder='Select problem' name='problem' required='true' )
        - problem_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for problem in problem_list
          option(value=problem._id, selected=(selected_problem==problem._id.toString() ? 'selected' : false) ) #{problem.title}
    div.form-group
      div.custom-file
        input#file.custom-file-input(type='file', name='file' required='true')
        label.custom-file-label(for='file') Choose file
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg

  script.
    $('#file').on('change',function(e){
      //get the file name
      var fileName = e.target.files[0].name;
      //replace the "Choose a file" label
      $(this).next('.custom-file-label').html(fileName);
    })
